@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');
@import "normalize";
@import "mixins";
@import "colors";

/** ============== global style ================ */
*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* smooth scrolling */

html {
	scroll-behavior: smooth;
}

img {
	object-fit: cover;
	max-width: 100%;
}

/* remove 'X' from input box to clear the text*/

input::-ms-clear {
	display: none;
}

/* remove link underline */
a,
a:hover,
a:focus,
a:active {
	text-decoration: none;
	color: inherit;
}

ol,
ul {
	list-style: none;
}

/* remove arrow from select dropdown list */
select {
	appearance: none;
	text-indent: 1px;
	text-overflow: "";
}

/* remove input number arrow if need */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	appearance: none;
	margin: 0;
}

input[type="number"] {
	appearance: textfield;
}

button {
	outline: none;
	border: none;
}

/* ======== custom preused classes ==========*/

/* hide scroll bar if needed */

.hide-scroll {
	-ms-overflow-style: none;
	/* IE and Edge */
	scrollbar-width: none;

	&::-webkit-scrollbar {
		/* Firefox */
		display: none;
	}
}

/* disable mouse interact */
.disable-pointer {
	pointer-events: none;
}

/** ============ start  custom style ============ */

body {
	font-size: 18px;
	font-family: "Rubik", sans-serif;
	color: $text_color;
	&.active {
		overflow: hidden;
	}
}

.wrapper {
	max-width: 100vw;
	overflow: hidden;
}

.container {
	@include container(1110px, 5vw);
}

section:not(:last-child){
	margin-bottom: 120px !important;
}

.btn {
	padding: 0.7rem 2.5rem;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	border-radius: 8px;
	color: white;
	background-color: $blue_color;
	border: 4px solid transparent;
	transition: all ease 0.3s;
	cursor: pointer;
	&:hover {
		background-color: transparent;
	}
}

.heading-style {
	color: $heading_color;
	font-weight: 500;
}

.text-style {
	line-height: 150%;
}

.header {
	padding: 2rem 0;
	&__inner {
		display: flex;
		align-items: baseline;
		justify-content: space-between;
	}
	&__burger-menu {
		position: relative;
		display: none;
		align-items: center;
		z-index: 100;
		img {
			cursor: pointer;
		}
	}
	&__logo {
		z-index: 100;
	}
}

.nav {
	&__inner {
		text-transform: uppercase;
		display: flex;
		gap: 4rem;
		align-items: center;
	}
	&__link {
		transition: ease 0.3s;
		cursor: pointer;
		&:hover {
			color: $red_color;
		}
	}
	.login {
		background-color: $red_color;
		font-weight: 500;
		&:hover {
			background-color: transparent;
			color: $red_color;
			border-color: $red_color;
		}
	}
}

.hero {
	background-image: url(../images/illustration-hero.svg);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 90%;
	position: relative;
	&::after {
		content: "";
		position: absolute;
		width: 30%;
		height: 80%;
		bottom: 0;
		right: 0;
		background: #4b5dcb;
		border-radius: 176.5px 0px 0px 176.5px;
		z-index: -10;
	}

	&__inner {
		max-width: 40%;
		padding: 2rem 0;
	}

	&__text {
		margin-bottom: 2rem;
	}
	&__btns {
		display: flex;
		gap: 1rem;
		font-weight: 500;
		div {
			padding-left: 1rem;
			padding-right: 1rem;
			white-space: nowrap;
		}
		&_firefox {
			color: $text_color;
			background-color: rgb(250, 250, 250);
			&:hover {
				border-color: $heading_color;
				color: $heading_color;
			}
		}
		&_chrom:hover {
			border-color: $blue_color;
			color: $blue_color;
		}
	}
}

.features {
	margin-bottom: 3rem;
	&__inner {
		margin: 0 auto 4rem;
		text-align: center;
		max-width: 550px;
	}
	&__heading {
		font-size: 1.8em;
		margin-bottom: 1rem;
	}
	position: relative;
}

.slider {
	&__links {
		max-width: max-content;
		margin: 0 auto 2rem;
		border-bottom: 2px solid $text_color;
		justify-content: center;
		display: flex;
		font-weight: 500;
	}
	&__link {
		position: relative;
		top: 2px;
		cursor: pointer;
		padding: 0 4rem 2rem;
		border-bottom: 5px solid transparent;
		transition: all ease 0.3s;
		
		&:hover {
			color: $red_color;
		}
		&.active{
			border-color:$red_color;
			color: $heading_color;
		}
	}

	&__container {
		display: flex;
		overflow: hidden;
		gap: 50%;
		
		&::after {
			content: "";
			position: absolute;
			width: 40%;
			height: 40%;
			bottom: 0;
			left: 0;
			background: #4b5dcb;
			border-radius: 0px 176.5px 176.5px 0px;
			z-index: -10;
		}
	}
	&__item {
		padding: 6rem 5vw;
		flex: 0 0 100%;
		display: flex;
		justify-content: flex-end;
		background-repeat: no-repeat;
		background-size: auto 80%;
		background-position:5vw top ;
		&:nth-child(1) {
			background-image: url(../images/illustration-features-tab-1.svg);
		}
		&:nth-child(2) {
			background-image: url(../images/illustration-features-tab-2.svg);
		}
		&:nth-child(3) {
			background-image: url(../images/illustration-features-tab-3.svg);
		}
	}
	&__content {
		gap: 1rem;
		display: flex;
		flex-direction: column;
		max-width: 40%;
	}
	&__btn {
		cursor: pointer;
		width: fit-content;
		&:hover {
			color: $blue_color;
			border-color: $blue_color;
		}
	}
}

.cards {
	margin-bottom: 3rem;
	&__inner {
		text-align: center;
		max-width: 50%;
		margin: 0 auto 2rem;
	}
	&__heading {
		margin-bottom: 1rem;
	}
}

.card {
	display: flex;
	gap: 1rem;
	justify-content: space-around;
	align-items: center;
	min-height: 500px;
	&__item {
		text-align: center;
		box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
		padding: 2rem 1rem;
		border-radius: 8px;
		&:first-child {
			align-self: flex-start;
		}
		&:last-child {
			align-self: flex-end;
		}
	}
	&__img {
		margin-bottom: 2rem;
	}
	&__heading {
		margin-bottom: 1rem;
	}
	&__text {
		margin-bottom: 5rem;
	}
	&__btn {
		cursor: pointer;
		position: relative;
		font-weight: 500;
		&:hover {
			color: $blue_color;
			border-color: $blue_color;
		}
		&::before {
			position: absolute;
			content: "";
			left: -1rem;
			top: -2rem;
			height: 10px;
			width: calc(100% + 2rem);
			background-image: url(../images/bg-dots.svg);
			background-repeat: no-repeat;
			background-size: contain;
		}
	}
}

.faq {
	margin-bottom: 5rem;
	&__header {
		text-align: center;
		max-width: 50%;
		margin: 0 auto 2rem;
	}
	&__heading {
		margin-bottom: 1rem;
	}
	&__footer {
		text-align: center;
	}
	&__btn {
		&:hover {
			color: $blue_color;
			border-color: $blue_color;
		}
	}
}

.accordion {
	max-width: 50%;
	margin: 0 auto 3rem;

	&__item {
		overflow: hidden;
		transition: all ease 0.3s;
		&:last-child {
			.accordion__question {
				border-bottom: 1px solid $text_color;
			}
		}
		&.active {
			.accordion__hide {
				// height: auto;
				max-height: 700px;
				overflow: auto;
				p {
					opacity: 1;
					transform: scale(1);
				}
			}
			.accordion__arrow {
				transform: rotate(180deg);
			}
			svg path {
				stroke: $red_color;
			}
		}
		.accordion__hide {
			transition: all ease 0.3s;
			// height: 0;
			max-height: 0;
			p {
				transition: all ease 0.6s;
				opacity: 0;
				transform: scale(0.3);
				pointer-events: none;
			}
		}
		.accordion__arrow {
			transition: all ease 0.6s;
		}
		svg path {
			transition: all ease 0.6s;
		}
	}

	&__question {
		cursor: pointer;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 1rem 0;
		border-top: 1px solid $text_color;
		transition: all ease 0.3s;
		&:hover {
			h3 {
				color: $red_color;
			}
		}
	}

	&__ans {
		padding: 1rem 0;
	}
}

.contacts {
	color: white;
	background-color: $blue_color;
	padding: 5rem 0;
	text-align: center;
	&__text {
		margin: 0 auto;
		max-width: 35%;
	}
	&__top {
		text-transform: uppercase;
		letter-spacing: 0.3em;
		margin-bottom: 2rem;
	}
	&__heading {
		color: white;
		margin-bottom: 2rem;
	}
	form {
		position: relative;
		z-index: 10;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 1rem;
	}
	input[type="email"] {
		outline: none;
		padding: calc(1rem - 4px);
		border-radius: 8px;
		width: 300px;
		border: 4px solid transparent;
		background-color: white;

		&.active {
			border-color: $red_color;
			background-image: url(../images/icon-error.svg);
			background-position: 95% 50%;
			background-repeat: no-repeat;
			+ .input-err {
				overflow: hidden;
				width: 100%;
				height: 80px;
				position: absolute;
				flex-direction: column;
				justify-content: flex-end;
				border-radius: 8px;
				background-color: $red_color;
				z-index: -10;
				text-align: left;
				font-size: 0.8rem;
				padding: 0.5rem 1rem;
				top: 0;
			}
		}
	}
	input::placeholder {
		font-size: 1rem;
		opacity: 0.8;
	}
	input[type="submit"] {
		cursor: pointer;
		padding-left: 1.5rem;
		padding-right: 1.5rem;
		background-color: $red_color;
		&:hover {
			background-color: white;
			color: $red_color;
			border-color: $red_color;
		}
	}

	label {
		position: relative;
		background-image: url(../images/icon-error.svg);
		background-repeat: no-repeat;
		background-position: right;
		z-index: 100;
		border-radius: 8px;
	}
	.input-err {
		transition: all 0.3s;
		display: flex;
		overflow: hidden;
		height: 0;
		// width: 100%;
		// height: 150%;
		// position: absolute;
		// display: flex;
		// flex-direction: column;
		// justify-content: flex-end;
		// border-radius: 8px ;
		// background-color: $red_color;
		// z-index:-10;
		// text-align: left;
		// font-size: 0.8rem;
		// padding: 0.7rem 1rem;
		// top: 0;
	}
}

.footer {
	color: white;
	background-color: $heading_color;
	padding-bottom: 2rem;
	&__inner {
		padding: 2rem 0;
		display: flex;
		align-items: center;
	}
	&__logo {
		margin-right: 4rem;
		display: flex;
		align-items: center;
		height: 100%;
	}
	&__nav {
		text-transform: uppercase;
		display: flex;
		align-items: center;
		gap: 2rem;
		font-size: 1rem;
		opacity: 0.8;
		&:last-child {
			opacity: 1;
			margin-left: auto;
		}
	}
	&__link {
		cursor: pointer;
		transition: ease 0.6s;
		svg path {
			transition: ease 0.6s;
		}
		&:hover {
			svg path {
				fill: $red_color;
			}
			color: $red_color;
		}
	}
}

@media screen and (max-width: 1024px) {
	.header {
		
		.header__burger-menu {
			display: block;
			z-index: 20;
			& #closeMenu {
				display: none;
			}
		}
		&__logo.active {
			svg path {
				fill:white;
			}
			path:last-child {
				fill: $heading_color
			}
			circle {
				fill: white;
			}
			
		}
	}
	
	.nav {
		&.active {
			opacity: 1;
			transform: scale(1);
			left: 0;
			pointer-events:initial;
		}
		pointer-events: none;
		transition: all ease 0.3s;
		display: flex;
		position: absolute;
		transition: all ease 0.3s;
		flex-direction: column;
		justify-content: space-between;
		min-height: 100%;
		background-color: hsla(229, 31%, 21%, 0.9);
		color: white;
		padding-top: 6rem;
		padding-bottom: 2rem;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 10;
		opacity: 0;
		transform: scale(0.9);
		
		&__inner {
			flex-direction: column;
			justify-content: center;
			gap: 0;
		}
		&__link {
			border-top: 1px solid rgba(255, 255, 255, 0.4);
			&:nth-child(3) {
				border-bottom: 1px solid rgba(255, 255, 255, 0.4);
				margin-bottom: 1.5rem;
			}
			text-align: center;
			width: 80%;
			padding: 1.1rem 0;
			&.login {
				background: transparent;
				box-shadow: none;
				padding: 1rem 0;
				border: 2px solid white;
			}
		}
		&__social {
			display: flex;
			justify-content: center;
			gap: 3rem;
			align-items: center;
		}
	}

	.hero {
		background-position: top;
		background-size: 70% auto;
		&__inner {
			max-width: 90vw;
			text-align: center;
			margin: 0 auto;
			padding-top: 45vw;
		}
		&__btns {
			div{

				white-space: initial;
			}
			justify-content: center;
		}
		&::after {
			height: 28vw;
			top: 18vw;
			bottom: unset;
			width: 50%;
		}
	}

	.slider {
		&__links {
			flex-direction: column;
			text-align: center;
		}
		&__links {
			border: none;
			margin: 0 auto 5rem;
			max-width: 100%;
		}
		&__link {
			border-bottom: 1px solid hsla(229, 8%, 60%, 0.5);
			width: 100%;
			padding: 1rem 0;
			&:first-child {
				border-top: 1px solid hsla(229, 8%, 60%, 0.5);
			}
			&.active{
				position: relative;
				border-color: hsla(229deg, 8%, 60%, 0.5);;
				&::after{
					content: '';
					display: block;
					position: absolute;
					height: 3px;
					width: 50%;
					bottom: -1px;
					left: 50%;
					transform: translate(-50%);
					background-color: $red_color;
				}
			}
		}
		&__item {
			background-size: auto 40vw;
			background-position: top center;
			padding-bottom: 0;
			padding-top: 45vw;
		}
		&__content {
			text-align: center;
			max-width: 100%;
		}

		&__btn {
			display: none;
		}
		&__container {
			position: relative;
			&::after {
				height: 28vw;
				width: 50%;
				bottom: unset;
				top: 15vw;
			}
		}
	}

	.cards {
		&__inner {
			max-width: 100%;
		}
	}
	.card {
		flex-direction: column;

		&__item {
			&:first-child,
			&:last-child {
				align-self: unset;
			}
		}
	}

	.faq {
		&__header {
			max-width: 100%;
		}
		&__accordion {
			max-width: 100%;
		}
	}

	.contacts {
		&__text {
			max-width: 100%;
		}
		form {
			flex-direction: column;
			gap: 2rem;
		}
		input {
			max-width: 300px;
			width: 300px;
		}
	}
}

@media screen and (max-width: 768px) {
	.hero{
		&__heading{
			font-size: 9vw;
		}
		&__text{
			font-size: calc(4.5vw + 4px);
		}
		&__btns{
			font-size: calc(3vw + 4px);
			div{
				width: 100%;
				padding-left:0 ;
				padding-right:0 ;
			}
		}
	}	
	
	.features{
		&__heading{
			font-size: 8vw;
		}
		&__text{
			font-size: calc(4.5vw + 4px);
		}
	}

	.slider{
		&__links{
			margin-bottom: 2rem;
		}
		&__link{
			font-size: 5vw;
		}
		&__item{
			padding-top: 55vw;
		}
		&__heading{
			font-size: 7vw;
		}
		&__text{
			font-size: calc(4.25vw + 4px);
		}
	}

	.cards{
		&__heading{
			font-size: 7vw;
		}
		&__text{
			font-size: calc(4.5vw + 4px);
		}
	}
	
	.faq{
		&__heading{
			font-size: 7vw;
		}
		&__text{
			font-size: calc(4vw + 4px);
		}
	}

	.accordion{
		&__heading{
			font-size: calc(3.2vw + 4px );
		}
		&__ans{
			font-size: calc(4vw + 4px );
		}
	}

	.contacts{
		&__top{
			font-size: 4.5vw;
		}
		&__heading{
			font-size: 7vw;
		}
	}

	.footer {
		&__inner {
			flex-direction: column;
			justify-content: center;
			gap: 2rem;
		}
		&__logo {
			margin: 0;
		}
		&__nav {
			&:last-child {
				margin: 0;
			}
		}
		.attribution {
			text-align: center;
		}
	}
}

@media screen and (max-width: 375px) {
	.footer__nav:not(:last-child) {
		flex-direction: column;
	}
}

