@import "normalize";
@import "mixins";
@import "colors";

/** ============== global style ================ */
*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* smooth scrolling */

html {
	scroll-behavior: smooth;
}

img {
	object-fit: cover;
	max-width: 100%;
}

/* remove 'X' from input box to clear the text*/

input::-ms-clear {
	display: none;
}

/* remove link underline */
a,
a:hover,
a:focus,
a:active {
	text-decoration: none;
	color: inherit;
}

ol,
ul {
	list-style: none;
}

/* remove arrow from select dropdown list */
select {
	appearance: none;
	text-indent: 1px;
	text-overflow: "";
}

/* remove input number arrow if need */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	appearance: none;
	margin: 0;
}

input[type="number"] {
	appearance: textfield;
}

button {
	outline: none;
	border: none;
}

/* ======== custom preused classes ==========*/

/* hide scroll bar if needed */

.hide-scroll {
	-ms-overflow-style: none;
	/* IE and Edge */
	scrollbar-width: none;

	&::-webkit-scrollbar {
		/* Firefox */
		display: none;
	}
}

/* disable mouse interact */
.disable-pointer {
	pointer-events: none;
}

/** ============ start  custom style ============ */

body {
	font-size: 18px;
	font-family: "Rubik", sans-serif;
	color: $text_color;
}

.container {
	@include container(1110px, 1.5%);
}

.btn {
	padding: 0.7rem 2.5rem;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	border-radius: 8px;
	color: white;
	background-color: $blue_color;
	border: 4px solid transparent;
	transition: all ease 0.3s;
	cursor: pointer;
	&:hover {
		background-color: transparent;
	}
}

.heading-style {
	color: $heading_color;
	font-weight: 500;
}

.text-style {
	line-height: 150%;
}

.header {
	padding: 2rem 0;
	&__inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}
.nav {
	&__inner {
		text-transform: uppercase;
		display: flex;
		gap: 4rem;
		align-items: center;
	}
	&__link {
		transition: ease 0.3s;
		cursor: pointer;
		&:hover {
			color: $red_color;
		}
	}
	.login {
		background-color: $red_color;
		font-weight: 500;
		&:hover {
			background-color: transparent;
			color: $red_color;
			border-color: $red_color;
		}
	}
}

.hero {
	background-image: url(../images/illustration-hero.svg);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 90%;
	position: relative;
	&::after {
		content: "";
		position: absolute;
		width: 30%;
		height: 80%;
		bottom: 0;
		right: 0;
		background: #4b5dcb;
		border-radius: 176.5px 0px 0px 176.5px;
		z-index: -10;
	}

	&__inner {
		max-width: 40%;
		padding: 2rem 0;
	}

	&__text {
		margin-bottom: 2rem;
	}
	&__btns {
		display: flex;
		gap: 1rem;
		font-weight: 500;
		div {
			padding-left: 1rem;
			padding-right: 1rem;
		}
		&_firefox {
			color: $text_color;
			background-color: rgb(250, 250, 250);
			&:hover {
				border-color: $heading_color;
				color: $heading_color;
			}
		}
		&_chrom:hover {
			border-color: $blue_color;
			color: $blue_color;
		}
	}
}

.features {
	margin-bottom: 3rem;
	&__inner {
		margin: 0 auto 4rem;
		text-align: center;
		max-width: 550px;
	}
	&__heading {
		font-size: 1.8em;
		margin-bottom: 1rem;
	}
	position: relative;
	&::after {
		content: "";
		position: absolute;
		width: 40%;
		height: 40%;
		bottom: 0;
		left: 0;
		background: #4b5dcb;
		border-radius: 0px 176.5px 176.5px 0px;
		z-index: -10;
	}
}

.slider {
	&__links {
		max-width: max-content;
		margin: 0 auto 2rem;
		border-bottom: 2px solid $text_color;
		justify-content: center;
		display: flex;
		font-weight: 500;
	}
	&__link {
		position: relative;
		top: 2px;
		cursor: pointer;
		padding: 0 4rem 2rem;
		border-bottom: 5px solid transparent;
		transition: all ease 0.3s;
		&:hover {
			color: $red_color;
		}
	}

	&__container {
		display: flex;
		overflow-x: auto;
		overflow: hidden;
	}
	&__item {
		padding: 6rem 0;
		flex: 0 0 100%;
		display: flex;
		justify-content: flex-end;
		background-repeat: no-repeat;
		background-size: auto 345px;
		background-position: top left;
		&:nth-child(1) {
			background-image: url(../images/illustration-features-tab-1.svg);
		}
		&:nth-child(2) {
			background-image: url(../images/illustration-features-tab-2.svg);
		}
		&:nth-child(3) {
			background-image: url(../images/illustration-features-tab-3.svg);
		}
	}
	&__content {
		gap: 1rem;
		display: flex;
		flex-direction: column;
		max-width: 40%;
	}
	&__btn {
		cursor: pointer;
		width: fit-content;
		&:hover {
			color: $blue_color;
			border-color: $blue_color;
		}
	}
}

.cards {
	margin-bottom: 3rem;
	&__inner {
		text-align: center;
		max-width: 50%;
		margin: 0 auto 2rem;
	}
	&__heading {
		margin-bottom: 1rem;
	}
}

.card {
	display: flex;
	gap: 1rem;
	justify-content: space-around;
	align-items: center;
	min-height: 500px;
	&__item {
		text-align: center;
		box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
		padding: 2rem 1rem;
		border-radius: 8px;
		&:first-child {
			align-self: flex-start;
		}
		&:last-child {
			align-self: flex-end;
		}
	}
	&__img {
		margin-bottom: 2rem;
	}
	&__heading {
		margin-bottom: 1rem;
	}
	&__text {
		margin-bottom: 5rem;
	}
	&__btn {
		cursor: pointer;
		position: relative;
		font-weight: 500;
		&:hover {
			color: $blue_color;
			border-color: $blue_color;
		}
		&::before {
			position: absolute;
			content: "";
			left: -1rem;
			top: -2rem;
			height: 10px;
			width: calc(100% + 2rem);
			background-image: url(../images/bg-dots.svg);
			background-repeat: no-repeat;
			background-size: contain;
		}
	}
}

.faq {
	margin-bottom: 5rem;
	&__header {
		text-align: center;
		max-width: 50%;
		margin: 0 auto 2rem;
	}
	&__heading {
		margin-bottom: 1rem;
	}
	&__footer {
		text-align: center;
	}
	&__btn {
		&:hover {
			color: $blue_color;
			border-color: $blue_color;
		}
	}
}

.accordion {
	max-width: 50%;
	margin: 0 auto 3rem;
	&__item {
		overflow: hidden;
		&:last-child {
			.accordion__question {
				border-bottom: 1px solid $text_color;
			}
		}
	}
	&__question {
		cursor: pointer;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 1rem 0;
		border-top: 1px solid $text_color;
		transition: all ease 0.3s;
	}
	&__hide {
		height: 0;
	}
	&__ans {
		padding: 1rem 0;
	}
}

.contacts {
	color: white;
	background-color: $blue_color;
	padding: 5rem 0;
	text-align: center;
	&__text {
		margin: 0 auto;
		max-width: 35%;
	}
	&__top {
		text-transform: uppercase;
		letter-spacing: 0.3em;
		margin-bottom: 2rem;
	}
	&__heading {
		color: white;
		margin-bottom: 2rem;
	}
	form {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 1rem;
	}
	input[type="email"] {
		border: none;
		outline: none;
		padding: 1rem;
		border-radius: 8px;
		width: 300px;
	}
	input::placeholder {
		font-size: 1rem;
		opacity: 0.8;
	}
	input[type="submit"] {
		cursor: pointer;
		padding-left: 1.5rem;
		padding-right: 1.5rem;
		background-color: $red_color;
		&:hover {
			background-color: white;
			color: $red_color;
			border-color: $red_color;
		}
	}

	.input-err{
		border-radius: 8px;
		padding: 0.2rem;
		background-color: $red_color;
		position: relative;
		z-index: 10;
		label{
			background-image: url(../images/icon-error.svg);
			background-repeat: no-repeat;
			background-position: right;

		}
		&__msg{
			position: absolute;
			width: 100%;
			bottom: -1.5rem;
			left: 0;
			font-size: 0.8rem;
			text-align: left;
			padding: 1rem 1rem 0.5rem;
			background-color: $red_color;
			z-index:-1 ;
			border-radius: 8px;
		}
	}
}

.footer {
	color: white;
	background-color: $heading_color;
	padding-bottom: 2rem;
	&__inner {
		padding: 2rem 0;
		display: flex;
		align-items: center;
	}
	&__logo {
		margin-right: 4rem;
		display: flex;
		align-items: center;
		height: 100%;
	}
	&__nav {
		text-transform: uppercase;
		display: flex;
		align-items: center;
		gap: 2rem;
		font-size: 1rem;
		opacity: 0.8;
		&:last-child {
			opacity: 1;
			margin-left: auto;
		}
	}
	&__link {
		cursor: pointer;
		transition: ease 0.6s;
		svg path {
			transition: ease 0.6s;
		}
		&:hover {
			svg path {
				fill: $red_color;
			}
			color: $red_color;
		}
	}
}
